.admin-layout {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;

    height: 100vh;
    display: flex;
    flex-direction: column;

    background: white;
    overflow: hidden;
}

.page-content {
    flex: 1;
    overflow-y: auto;
}