/* ===== จัดการ Layout หน้า Forget Password ===== */
.forget-app {
    justify-content: flex-start; /* ดันเนื้อหาขึ้นไปด้านบน */
    padding-top: 60px;
}

/* ===== ส่วน Header (ลูกศร + ข้อความ) ===== */
.forget-header {
    display: flex;
    align-items: center;
    width: 300px; /* ให้กว้างเท่ากล่องเหลือง */
    margin-bottom: 20px;
    position: relative;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;

    z-index: 10;

    width: 50px;
    height: 40px;

    border-radius: 20px;
    border: 1px solid #111;
    color: #111;

    background: #CEEBFF;
    backdrop-filter: blur(6px);

    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0%;

    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: 0.2s;
}

.title-text {
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    margin: 30px;
    color: #000000;
}

/* ===== กล่องเหลือง (ปรับการจัดวางข้างใน) ===== */
.forget-box {
    width: 300px;
    background-color: #FFF9B6;

    padding: 18px;
    border-radius: 40px;
    border: 1px solid black !important;

    display: flex;
    flex-direction: column;
    gap: 10px;

    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
    align-items: center;
    margin-top: -30px;
}

/* ===== ข้อความอธิบาย ===== */
.instruction-text {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #000000;
}

/* ===== ช่อง Input (เพิ่มขอบดำตามรูป) ===== */
.forget-input {
    height: 40px;
    width: 100%;
    border: 1px solid black !important; 
    margin-bottom: 15px;
    margin-top: 0px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3) !important; 
    border-radius: 20px;
}

/* ===== ปุ่มสีชมพู ===== */
.btn-pink {
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    font-family: 'Grandstander', cursive;
    font-size: 18px;
    color: black;
    background-color: #FFC4C4;
    padding: 0 30px;
    box-shadow: 1px 4px 6px rgba(0,0,0,0.3); 

    
    
}
