@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Grandstander', cursive;
  display: flex;
  justify-content: center;
  background: #111;
}

.app {
  width: 390px;
  height: 100vh;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content.location {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.location-logo {
  position: absolute;
  left: 20%;
  width: 240px;
  
}

h2 {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: bold;
  color:#111;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  color:#111;
}

.locations {
  width: 260px;
  display: flex;
  flex-direction: column ;
  gap: 16px;
}

.btn.location-group{
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 20px;
  width: 300px;
}


.btn.location {
  font-family: 'Grandstander', cursive;
  padding: 14px;
  border-radius: 999px;
  border: 1px solid black;
  font-weight: 500;
  font-size: 18px;
  background: #fff4b0;
  box-shadow: 0 3px 10px rgb(56, 56, 56);
  cursor: pointer;
  color:#111;
}

.sign-in {
  font-family: 'Grandstander', cursive;
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  padding: 14px;
  border-radius: 999px;
  border: 1px solid black;
  box-shadow: 0 3px 10px rgb(56, 56, 56);
  background: #ffd7ff;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
  color:#111;
}
