.content.location {
    width: 100%;
    height: 100vh;
  }
/* title */
.user.content.location {
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-width: 320px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
/* subtitle */
.content.location h3 {
    font-size: 18px;
    font-weight: 400;
    margin: px;
    color: #555;
}

.user-location-btn {
    width: 100%;
    height: 48px;

    border-radius: 999px;
    border: 1.5px solid #333;
    background: #f3e89d;

    font-family: 'Grandstander', cursive;
    font-size: 20px;

    cursor: pointer;

    margin-bottom: 18px;

    position: static; /* 👈 สำคัญ */
}

.location-logo {
  position: absolute;
  left: 23%;
  width: 240px;
  margin-top: -5%;
  margin-bottom: 20px;
  top: 20px;
}