* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    font-family: 'Grandstander', cursive;
    
    height: 100vh; 


    display: flex;
    align-items: center;
    justify-content: center;
    
}

.app {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-top: 80px;

}

/* ===== โลโก้ ===== */
.signup-logo {
    width: 200px;
    margin-top: -20px;
    
}

/* ===== การ์ด ===== */
.boxblue {
    width: 300px;
    background-color: #ceebff;

    padding: 18px;
    border-radius: 28px;
    border: 1px solid black !important;

    display: flex;
    flex-direction: column;
    gap: 10px;

    box-shadow: 0 12px 25px rgba(0,0,0,0.25);
    margin-top: 0px;
}

/* ===== label ===== */
label {
    font-size: 14px;
    margin: 1px 0 -2px;
    color: #000;
}

/* ===== input ===== */
.input {
    height: 35px;
    border-radius: 15px;
    border: none;
    padding: 0 7px;
    margin-bottom: -5px;

    color: black !important;
    background: #fdf9f9;
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.2);
    outline: none;
}

/* ===== ปุ่ม ===== */
.btn.signup-purple{
    margin-top: 10px;
    height: 40px ;
    width: 120px;
    align-self: center;
    background-color: #C0A3E5 ;
    padding: 4px 10px;
    border-radius: 20px;
    border: 1px solid black !important;
    cursor: pointer;
    box-shadow: 0 2px px rgba(0,0,0,0.2);
    transition: 0.2s;
}

.btn:hover {
    transform: translateY(-2px);
}